#!/bin/bash
read -p 'Proceed to run pgbasebackup? Press y if ok ' PROMPT

shopt -s nocasematch
if [ $PROMPT == 'y' ]; then

read -p 'This will remove existing contents of the data directory. Press y to proceed ' PROMPT2

shopt -s nocasematch
if [ $PROMPT2 == 'y' ]; then

echo "Clearing data directory"
rm -rf {{ db_data_path }}
mkdir {{ db_data_path }}
chown hmsdba:{{ code_user }} {{ db_data_path }}

{% if code_environment == 'prod' %}
{% if server == 'db' %}
{% if db_set_a is defined and db_set_a == ansible_default_ipv4.address %}
echo "{{ db_pgsql_location }}pg_basebackup --host={{ db_set_b }} --port={{ db_port }} --pgdata={{ db_data_path }} --username=hmsrep --verbose --progress --wal-method=stream --write-recovery-conf --checkpoint=fast"
{{ db_pgsql_location }}pg_basebackup --host={{ db_set_b }} --port={{ db_port }} --pgdata={{ db_data_path }} --username=hmsrep --verbose --progress --wal-method=stream --write-recovery-conf --checkpoint=fast
{% elif db_set_b is defined and db_set_b == ansible_default_ipv4.address %}
echo "{{ db_pgsql_location }}pg_basebackup --host={{ db_set_a }} --port={{ db_port }} --pgdata={{ db_data_path }} --username=hmsrep --verbose --progress --wal-method=stream --write-recovery-conf --checkpoint=fast"
{{ db_pgsql_location }}pg_basebackup --host={{ db_set_a }} --port={{ db_port }} --pgdata={{ db_data_path }} --username=hmsrep --verbose --progress --wal-method=stream --write-recovery-conf --checkpoint=fast
{% endif %}
{% endif %}
{% endif %}

sleep 2

echo "du -sh data/"
du -sh data/

echo "sudo systemctl start postgresql12"
sudo systemctl start potsgresql12

sleep 2
echo '{{ db_pgsql_location }}psql -U {{ db_user }} -d postgres -p {{ db_port }} -c "select pid, status, receive_start_lsn, receive_start_tli, last_msg_send_time, last_msg_receipt_time, sender_host from pg_stat_wal_receiver"'

{{ db_pgsql_location }}psql -U {{ db_user }} -d postgres -p {{ db_port }} -c "select pid, status, receive_start_lsn, receive_start_tli, last_msg_send_time, last_msg_receipt_time, sender_host from pg_stat_wal_receiver"

exit 1

else
else 

echo 'Exiting script'

fi