/export/home/hms/{{ hospital }}/onramp_web/vendor
/export/home/hms/{{ hospital }}/onramp_web/node_modules
/export/home/hms/{{ hospital }}/onramp_web/.env
/export/home/hms/{{ hospital }}/htdocs/config.php