[Unit]
Description=Everyday at 21:30 {{ cluster }} web backup
Wants=hl7_web_backup_{{ cluster }}.timer

[Service]
User={{ code_user }}
ExecStart=/usr/bin/bash {{ script_location }}{{ hl7_web_code_backup_script }}

[Install]
WantedBy=multi-user.target