[Unit]
Description= Everyday at 23:59 HMS logs will transfer to shared_archive 
Wants=hms-logs_transfer.timer

[Service]
{% if hospital == 'jmc' or hospital == 'jch' and env == 'prod'  %}
ExecStart=/usr/bin/sh -c '{{ script_location }}jmc_hms-logs_transfer.sh;{{ script_location }}jch_hms-logs_transfer.sh'

{% elif hospital == 'jmc' or hospital == 'jch' or hospital == 'ntfgh' and env == 'uat' %}
ExecStart=/usr/bin/sh -c '{{ script_location }}jmc_hms-logs_transfer.sh;{{ script_location }}jch_hms-logs_transfer.sh;{{ script_location }}ntfgh_hms-logs_transfer.sh'

{% else %}
ExecStart=/usr/bin/bash {{ script_location }}{{ hospital }}_hms-logs_transfer.sh

{% endif %}

[Install]
WantedBy=multi.user.target