{{ httpd_log_path }}*_log {
        missingok
        rotate 365
        ifempty
        create 640 root {{ code_user }}
        dateext
        dateformat -%Y%m%d-%H.log
}

{{ httpd_log_path }}*_modsec_audit.log {
        missingok
        rotate 365
        ifempty
        create 640 {{ code_user }} {{ code_user }}
        dateext
        dateformat -%Y%m%d-%H.log
        postrotate
             {{ gml_source_path }}/bin/apachectl -k graceful
        endscript
}
