#!/bin/bash
#script_location="/export/home/gml_source/scripts/ktph_archive_scripts"
script_location="."

if [ ! -d "/export/home/gml_source/logs/backup" ]; then
    mkdir "/export/home/gml_source/logs/backup"
fi 

$script_location"/db_pg_ktph_create_table.sh" > "/export/home/gml_source/logs/backup/archive_backup_"`date +20\%y-\%m-\%d_\%H:\%M:\%S`".log"
sleep 5
$script_location"/db_pg_ktph_table_dump.sh" > "/export/home/gml_source/logs/backup/archive_dump_"`date +20\%y-\%m-\%d_\%H:\%M:\%S`".log"

