#!/bin/bash
script_location="."

if [ ! -d "/export/home/gml_source/logs/backup" ]; then
    mkdir "/export/home/gml_source/logs/backup"
fi

$script_location"/db_pg_jch_create_table.sh" > "/export/home/gml_source/logs/backup/jch_archive_backup_"`date +20\%y-\%m-\%d_\%H:\%M:\%S`".log"
sleep 5
$script_location"/db_pg_jch_table_dump.sh" > "/export/home/gml_source/logs/backup/jch_archive_dump_"`date +20\%y-\%m-\%d_\%H:\%M:\%S`".log"
